body {
  background-color: #131416;
}
.App-header {
  
  min-height: 100vh;
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column;  */
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
}

.shadow_album {
  box-shadow: rgb(95 92 92) 16px 18px 5px -9px;
}

